@import "./space.less";
@import "./color.less";
@import "./element-ui-reset.less";

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
